@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}

.navegador{
    display: flex;
    background-color: rgb(58, 53, 53);
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    
}

.navegador div{
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(190, 190, 190);
    cursor: pointer;
    margin-right: 4%;
    max-width: 5%;

}

.navegador div:hover{
    color: white;
}
div p{
    font: bold;
    margin-top: 10%;
    font-family: 'Syne Mono', monospace;
}

#p{
    font-size: 30px;
}