#p{
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    text-transform: uppercase;
}


/* <div>
        <img src="/img/dinosaurio.jpg" alt="dinosaurio"  height="100%" width="100%" HSPACE="20" VSPACE="20" >
        <img src="/img/abarth.jpg" alt="abarth" width="100%" HSPACE="20" VSPACE="20">
        <img src="/img/paisaje 1.jpg" alt="paisaje" width="100%" HSPACE="20" VSPACE="20">
        
      </div>
      <div>
        <img src="/img/paisaje 2.jpg" alt="paisaje" width="100%" HSPACE="20" VSPACE="20">
        <img src="/img/patatas.jpg" alt="patatas" width="100%" HSPACE="20" VSPACE="20">
        <img src="/img/paella.jpg" alt="paella" width="100%" HSPACE="20" VSPACE="20">
    </div>
    <div>
        <img src="/img/paisaje 3.jpg" alt="paisaje" width="100%"HSPACE="20" VSPACE="20">
        <img src="/img/paisaje 4.jpg" alt="paisaje" width="100%" HSPACE="20" VSPACE="20">
        <img src="/img/paisaje 5.jpg" alt="paisaje" width="100%" HSPACE="20" VSPACE="20">
    </div>*/ 

    .p1{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 150%; 
    background-color: brown;
    color: white;
}