#p{
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    text-transform: uppercase;
}
/*<div>
<p> <img src="/img/dinosaurio.jpg" alt="dinosaurio" width="400"></p>
<p><img src="/img/abarth.jpg" alt="abarth" width="400"></p>
<p><img src="/img/paisaje 1.jpg" alt="paisaje" width="400"></p>
<p><img src="/img/paisaje 2.jpg" alt="paisaje" width="400"></p>
<p><img src="/img/patatas.jpg" alt="patatas" width="400"></p>
<p><img src="/img/paella.jpg" alt="paella" width="400"></p>
<p><img src="/img/paisaje 3.jpg" alt="paisaje" width="400"></p>
<p><img src="/img/paisaje 4.jpg" alt="paisaje" width="400"></p>
<p><img src="/img/paisaje 5.jpg" alt="paisaje" width="400"></p>
</div>*/