h1{
    text-align: center;
    background-color: red;
    color: white;
}


 td{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#table{
    width: 500px;
    height: 500px;
    margin: 0 auto;
   border: solid 0px;
   background-color: rgb(138, 138, 138);
}
/*
.arribaizq{
    border: solid  1px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom: hidden;
}

.arribader{
    border: solid  1px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom: hidden;
}
*/

.centroizq-der{
border: solid 1px;
border-left-style: hidden;
border-right-style: hidden;
width: 150px;
height: 150px;
background-color: hotpink;
}

#centrocentro{
    border: solid 1px;
    width: 150px;
    height: 150px;
    background-color: red;
}
.centroarri-aba{
    border: solid 1px;
    border-top-style: hidden;
    border-bottom-style: hidden;
    width: 150px;
    height: 150px;
    background-color: salmon;
}